/* Reset */
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}
/* Final Reset */


/* Estilização */

body {
    background: url(../img/noirlac.png);
    
    font-family: 'VT323', monospace;
    color: #011638;
    font-size: 18px;

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 30px;
}

.cartao {
    background-color: #011638;
    width: 370px;
    border: 2px solid #214E34;

    border-radius: 10px;

    overflow: hidden;
}

.abas img{
    width: 30px;
}

.cartao .minhas-informacoes {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.cartao .minhas-informacoes img {
    border-radius: 50px;
    border: 4px solid #02d08f;
}

.cartao .minhas-informacoes .nome {
    font-size: 26px;
    color: white;
}

.cartao .minhas-informacoes .cargo {
    font-size: 20px;
    color: #b8bbc5;
}

.cartao .conteudo {
    background-color: #FFC482;
    margin-top: 15px;
}

.cartao .abas {
    display: flex;
}

.cartao .abas .aba {
    width: 50%;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    cursor: pointer;

    transition: background-color 0.2 ease-in-out;
}

.cartao .abas img {
    width: 30px;
}

.cartao .abas .aba.selecionado {
    background-color: #54C6EB;
}

.cartao .informacoes-abas {
    background-color: #54C6EB;
}

.cartao .abas .aba:hover {
    background-color: #ffd5a4;
}

.informacoes-abas .informacao {
    min-height: 260px;
    padding: 15px;
    
    display: none;
}

.informacoes-abas .informacao.selecionado {
    display: block;
}


.informacoes-abas .sub-titulo {
    font-size: 22px;
    margin-bottom: 25px;
    text-align: center;
}

.informacao-abas .descricao {
    font-size: 20px;
    max-width: 180px;
    overflow-y: auto;
    padding-right: 15px;
}

article span {
    color: #214E34;
}

.redes-sociais {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;

    max-height: 180px;
    overflow-y: auto;
}

.redes-sociais li a{
    background-color: #b8bbc5;
    width: 250px;
    display: block;
    color: #f3f3f3;
    text-align: center;
    padding: 10px;
    font-size: 20px;

    transition: opacity 0.3s ease-in-out;
}

.redes-sociais li a:hover {
    opacity: 0.8;
}

.redes-sociais .curriculo {
    background-color:#45CB85;
}

.redes-sociais .linkdin {
    background-color: #1d87bd;
}

.redes-sociais .github {
    background-color: #153131;
}